#grid {
  background-size: cover;
  max-width: 100%;
  height: auto;
}

#text-header-2 {
  display: inline-block;
  color: Black;
  font-family: Futura, sans-serif;
  font-size: 1.3em;
  margin: 1%;
}

.grid-container{
  height: 400px;
}

::ng-deep .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  height: auto !important;
}
