<div class="content">

  <div id="header">
    <div class="text" id="text-header-2">Mariage Marianne et Guillaume</div>

    <mat-form-field>
      <mat-label>Collections</mat-label>
      <mat-select>
        <mat-option *ngFor="let collection of collections" [value]="collection.value">
          {{collection.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ks-modal-gallery [id]="0"
                    [modalImages]="imagesGallery"
                    [dotsConfig]="{visible: false}"
                    [currentImageConfig]="{downloadable: true, navigateOnClick: true}"
                    [slideConfig]="{infinite: true, sidePreviews: {show: false}}"
                    [buttonsConfig]="buttonsConfigSimple"
                    [plainGalleryConfig]="plainGalleryGrid"></ks-modal-gallery>

</div>
