<div class="content">

  <div id="header">
    <div class="text" id="text-header-2">Mariage Marianne et Guillaume</div>

    <mat-form-field>
      <mat-label>Collections</mat-label>
      <mat-select>
        <mat-option *ngFor="let collection of collections" [value]="collection.value">
          {{collection.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ngx-masonry-gallery
    id="masonry"
    [width]='400'
    [images]='images'
    [gutter]="10"
    [verticalGutter]="10"></ngx-masonry-gallery>

</div>
