<div class="content">

  <div id="header">
    <div class="text" id="text-header-2">Mariage Marianne et Guillaume</div>

    <mat-form-field>
      <mat-label>Mongolo</mat-label>
      <mat-select>
        <mat-option *ngFor="let collection of collections" [value]="collection.value">
          {{collection.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mdc-grid-list mdc-grid-list--tile-aspect-16x9">
    <mat-grid-list [responsive]="responsive"
                   gutterSize="8px">
      <mat-grid-tile *ngFor="let tile of tiles"
                     [colspan]="tile.cols"
                     [rowspan]="tile.rows">
        <img id="grid" [src]="tile.src" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
