#toto {
  background-size: cover;
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 95px;
  width: auto;
}

#text-header-2 {
  display: inline-block;
  color: Black;
  font-family: Futura, sans-serif;
  font-size: 1.3em;
  margin: 1%;
}
