#image-header {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

#menu {
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 40px;
}

#text-header {
  background-color: rgba(255, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  color: white;
  font-family: Futura, sans-serif;
  font-size: 2em;
  margin: 3%;
  top: 8px;
  left: 16px;
}
